.errors-container {
    margin: 20px 10px;
    display: none;
}

.show-errors {
    display: block;
}

.topheader {
    padding-top: 59px;
}

.error-row-top, .error-row-entry {
    padding: 5px;
}

.errors-info {
    line-height: 110% !important;
}

.errors-info, .expand-icon {
    cursor: pointer;
    text-decoration: underline;
}

.errors-table-hidden {
    display: none;
}

.reload-button {
    color: white;
    background-color: #cc3b6b;
    position: fixed;
    top: 220px;
    left: 0px;
    transform: translate(-0%, 0);
    z-index: 99;
    cursor: pointer;
    display: block;
    padding: 12px 15px;
    border-radius: 5px;
    display: none;
}

.dismiss-reload {
    color: white;
    text-decoration: underline;
}

.dismiss-reload:hover {
    color: white;
    text-decoration: none;
}

.show-reload-button {
    display: block;
}

.hide-reload-text {
    display: none;
}

@media screen and (max-width: 1150px) {
    .reload-button {
    padding: 10px 12px;
    }
}