.errors-container {
    margin: 20px 10px;
    display: none;
}

.show-errors {
    display: block;
}

.topheader {
    padding-top: 59px;
}

.error-row-top, .error-row-entry {
    padding: 5px;
}

.errors-info {
    line-height: 110% !important;
}

.errors-info, .expand-icon {
    cursor: pointer;
    text-decoration: underline;
}

.errors-table-hidden {
    display: none;
}

.reload-button {
    color: white;
    background-color: red;
    position: fixed;
    top: 45px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
    cursor: pointer;
    display: block;
    padding: 3px 15px;
    border-radius: 20px;
    display: none;
}

.dismiss-reload {
    color: white;
    text-decoration: underline;
}

.show-reload-button {
    display: block;
}

.hide-reload-text {
    display: none;
}