.errors-container {
    margin: 20px 10px;
    display: none;
}

.show-errors {
    display: block;
}

.topheader {
    padding-top: 59px;
}

.error-row-top, .error-row-entry {
    padding: 5px;
}

.errors-info {
    line-height: 110% !important;
}

.errors-info, .expand-icon {
    cursor: pointer;
    text-decoration: underline;
}

.errors-table-hidden {
    display: none;
}

.reload-button {
    color: white;
    background-color: red;
    position: fixed;
    top: 10px;
    left: 150px;
    z-index: 99;
    cursor: pointer;
    display: none;
}

.show-reload-button {
    display: block;
}