* {
    box-sizing: content-box;
}

body {
    font-family: 'Lato', sans-serif; 
    padding: 0px;
    width:100%; 
    color: #333;
    font-size: 18px;
    background-color: #f7f7f7;
    margin: 0;
}

header {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 1;
}

a {
    color: #1e6662;
    text-decoration: underline;
}

.about {
    background: linear-gradient(rgb(44, 161, 181), rgb(30, 102, 98));
    background-repeat: no-repeat;
}

.about-text {
    color: white;
    padding: 200px 0px 100px 100px; 
    max-width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.about-image {
    max-width: 40%;
    display: inline-block;
    vertical-align: middle;
    padding-top: 100px;
}

.about-paragraph {
    max-width: 750px; 
    font-size: 24px; 
    font-weight: 300;
}

.description a:hover {
    color: #1e6662;
}

.headline {
    font-weight: 300;
    font-size: 40px; 
    max-width: 750px; 
    font-weight: 700;
}

.search-btn {
    font-family: 'Lato', sans-serif;
    max-width: 400px;
    display: block;
    text-align: center;
    margin: 40px 0 0;
    padding: 20px 0;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    font-size: 24px;
    background-color: transparent;
    /*background-image: linear-gradient(rgb(44, 161, 181), rgb(44, 161, 181));*/ 
    color: white; width:100%; padding: 10px 3px;
    border: 3px solid white;
    color: white;
    text-decoration: none;
}

.search-btn:hover {
    background-image: linear-gradient(rgb(30, 102, 98), rgb(30, 102, 98));
    border: 3px solid #1e6662;
    cursor: pointer;
}

.contact-btn {
    font-family: 'Lato', sans-serif;
    text-align: center;
    display: block;
    max-width: 300px;
    margin: 20px auto 0;
    padding: 20px;
    border-radius: 17px; 
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    font-size: 24px;
    background-image: linear-gradient(rgb(30, 102, 98), rgb(30, 102, 98));
    /*background-image: linear-gradient(rgb(44, 161, 181), rgb(44, 161, 181));*/ 
    color: white; width:100%; padding: 10px 3px;
    border: 3px solid transparent;
    color: white;
    text-decoration: none;
}

.contact-btn:hover {
    background-image: none;
    border: 3px solid #1e6662;
    cursor: pointer;
    color: #1e6662;
}

.contribution {
    background-color: #f7f7f7; 
    text-align: center; 
    display: block;
    padding: 50px 20px;
}

.contribution h3 {
    font-size: 24px; 
    color: #1e6662;
}

.link1 {
    font-size: 24px; 
    font-weight: 300;
}

/*Footer*/
.credits {
    padding-left: 20px; 
    /*padding-bottom: 20px;*/ 
    display: inline-block;
    padding-top: 20px;
    text-align: right;
    width: 65%;
    vertical-align: middle;
}

.credits2 {
    /*padding-top: 20px;*/
    text-transform: none; 
    color: #f7f7f7; 
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-left: 50px;
    width: 28%;
}

footer {
    background-color: white;
    padding: 20px 0;
    font-size: 18px;
    color: #333;
    line-height: 1;
}

footer a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: 700;
    margin-right: 10px;
    color: #1e6662;
}

.partner-logo2 {
    max-height: 70px;
    margin-left: 20px;
    vertical-align: middle;
    display: inline-block;
}

/*Other pages*/

.example {
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}
.question {
    padding: 40px 0px 20px; 
    margin: 0px;
    font-size: 24px;
    line-height: 150%;;
}

.paragraph-style li {
    margin-left: 40px;
}

.page-section {
    max-width:750px; 
    margin: 0px auto 40px;
}

.page-headline {
    font-family: 'Lato', sans-serif;
    color: #1e6662;
    font-size: 42px;
    margin-top: 90px;
}

.page {
    max-width: 1200px;
    margin: 0px auto;
    padding: 90px 20px 0;
}

.page2 {
    margin: 0px auto;
    padding: 90px 50px 50px;
}

.paragraph-style {
    padding: 0px 0 20px;
    margin: 0;
}

.shadow2 {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.abstand {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}

.about-image-mobile {
    display: none;
}

.mobile-footer {
    display: none;
}

/*headstart footer*/
.knowledge-map footer {
    background-color: #1e6662;
    color: white;
    padding: 10px 0;
}

.knowledge-map .credits {
    padding-top: 0px;
}

.knowledge-map .partner-logo2 {
    max-height: 50px;
    margin-left: 0px;
    vertical-align: middle;
}

.knowledge-map footer a, .knowledge-map footer a:focus, .knowledge-map footer a:active, .knowledge-map footer a:hover {
    color: white;
}

/*Errors table*/

.errors-table {
    background-color: #f7f7f7;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
}

.top-row {
    background-color: #1e6662;
    color: white;
}

@media screen and (max-width: 1200px) {

    .headline, .page-headline {
        font-size: 30px;
    }

    .about-paragraph, .search-btn, .link1, .contribution h3, .contact-btn, .question { 
        font-size: 18px;
    }

    .about-text {
        max-width: 40%;
    }

    .credits {
        width: 60%;
    }

    .credits2 {
        width: 30%;
    }

    .knowledge-map .credits { 
        width: 52%;
    }

    .knowledge-map .credits2 {
        width: 38%;
    }
}

@media screen and (max-width: 900px) {

    .about-text {
        max-width: 400px;
        display: inline-block;
        padding: 100px 20px 50px 50px;
    }

    .about-image {
        display: inline-block;
        max-width: 300px;
    }
}


@media screen and (max-width: 800px) {

    .about-text {
        max-width: 100%;
        padding: 100px 20px 50px 20px;
    }

    .about-image {
        display: none;
    }

    .mobile-footer {
        display: block;
        padding: 0px;
    }

    .desktop-footer {
        display: none;
    }

    .credits { 
        width: 100%;
        display: block;
        text-align: left;
        padding-bottom: 20px;
    }

    .credits2 {
        width: 100%;
        display: block;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: #1e6662;
    }

    footer a {
        color: white;
    }

    .credits span {
        display:block;
        margin-bottom: 20px;
    }

    .partner-logo2 {
        margin-left: 0px;
        margin-right: 20px;
    }

    .mobile-footer {
        line-height: 150%;
    }

    .knowledge-map .mobile-footer .credits {
        background-color: #1e6662;
    }

    .page-headline {
        margin-top: 0px;
    }
    
    .question {
        padding: 20px 0 10px;
    }
}