* {
    box-sizing: content-box;
}

body {
    font-family: 'Lato', sans-serif; 
    padding: 0px;
    width:100%; 
    color: #333;
    font-size: 18px;
    background-color: #f7f7f7;
    margin: 0;
}

header {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 1;
}

a {
    color: #1e6662;
    text-decoration: underline;
}

.about {
    background: linear-gradient(rgb(30, 102, 98), rgb(44, 161, 181));
    background-repeat: no-repeat;
}

.about-text {
    color: white;
    padding: 200px 0px 100px 100px; 
    max-width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.about-image {
    max-width: 40%;
    display: inline-block;
    vertical-align: middle;
    padding-top: 100px;
}

.about-paragraph {
    max-width: 750px; 
    font-size: 24px; 
    font-weight: 300;
}

.description a:hover {
    color: #1e6662;
}

.headline {
    font-weight: 300;
    font-size: 40px; 
    max-width: 750px; 
    font-weight: 700;
}

.credits {
    padding-left: 20px; 
    /*padding-bottom: 20px;*/ 
    display: inline-block;
    padding-top: 20px;
    text-align: right;
    width: 55%;
    vertical-align: middle;
}

.credits2 {
    padding-top: 20px;
    text-transform: none; 
    color: #f7f7f7; 
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-left: 20px;
    width: 40%;
}

footer {
    background-color: white;
    padding: 20px 0;
    font-size: 18px;
    color: #333;
    line-height: 1;
}

footer a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: 700;
    margin-right: 10px;
    color: #1e6662;
}

.partner-logo2 {
    max-height: 70px;
    margin-left: 20px;
    vertical-align: middle;
}

.search-btn {
    font-family: 'Lato', sans-serif;
    max-width: 400px;
    text-align: center;
    margin: 40px 0 0;
    padding: 20px 0;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    font-size: 24px;
    background-color: transparent;
    /*background-image: linear-gradient(rgb(44, 161, 181), rgb(44, 161, 181));*/ 
    color: white; width:100%; padding: 10px 3px;
    border: 3px solid white;
}

.search-btn:hover {
    background-image: linear-gradient(rgb(30, 102, 98), rgb(30, 102, 98));
    border: 3px solid #1e6662;
    cursor: pointer;
}

.search-btn a {
    color: white;
    text-decoration: none;
}

.contact-btn {
    font-family: 'Lato', sans-serif;
    max-width: 300px;
    text-align: center;
    margin: 20px auto 0;
    padding: 20px 0;
    border-radius: 17px; 
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    font-size: 24px;
    background-image: linear-gradient(rgb(44, 161, 181), rgb(44, 161, 181));
    /*background-image: linear-gradient(rgb(44, 161, 181), rgb(44, 161, 181));*/ 
    color: white; width:100%; padding: 10px 3px;
    border: 3px solid transparent;
}

.contact-btn:hover {
    background-image: linear-gradient(rgb(30, 102, 98), rgb(30, 102, 98));
    border: 3px solid #1e6662;
    cursor: pointer;
}

.contact-btn a {
    color: white;
    text-decoration: none;
}

/*FAQs page*/
.question {
    padding: 40px 0px 20px; 
    margin: 0px;
    font-size: 24px;
    line-height: 150%;;
}

.paragraph-style li {
    margin-left: 40px;
}

.page-section {
    max-width:750px; 
    margin: 0px auto 40px;
}

.page-headline {
    font-family: 'Lato', sans-serif;
    color: #1e6662;
    font-size: 42px;
    margin-top: 50px;
}

.page {
    max-width: 1200px;
    margin: 0px auto;
    padding: 90px 20px 0;
}

.page2 {
    margin: 0px auto;
    padding: 90px 50px 50px;
}

.paragraph-style {
    padding: 0px 0 20px;
    margin: 0;
}

.shadow2 {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.abstand {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}